@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body{
    background-color: rgb(137, 81, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "imagem login";
    border-radius: 10px;
    box-shadow: -10px -10px yellow;
    width: 1200px;
    height: 700px;
}
.login{
    background-color: white;
    grid-area: login;
    border: transparent 5px;
    border-radius: 0px 10px 10px 0px;
}
.imagem{
    background-image: linear-gradient(to right top, rgb(137, 81, 201),rgb(168, 114, 231));
    grid-area: imagem;
    border: transparent 5px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: yellow;
}
.conteudo input{
    background-color: #034078;
    box-shadow: none;
    outline: none;
    border: transparent;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    padding: 20px;
    margin: 5px 0px;
    color:white;
    font-family: 'PT Sans', sans-serif;
}

button{
    align-items: center;
    width: 150px;
    height: 40px;
    text-align:center;
    border-radius: 30px;
    background-color:#034078;
    border-color:transparent;
    font-family: 'PT Sans';
    color:  #FEFCFB;
    outline: none;

}
button:hover{
    background-color: #1282A2;
    width: 180px;
}

input::placeholder{
    color: white;
    font-family: 'PT Sans', sans-serif;
}
body,html{
    height: 100%;
}